extends base
include mixins/Song

block content
  #Container
    #SongListContainer 
      #Title Title
      ul#Songlist
        each song in Songs
          +Song(song)
        else
          li nothing found
    #SongPlayerContainer
      img(src="")#CoverImg
      .playertitle #{playingSong.title}
      #SongController 
        button#prev prev
        button#play play
        button#stop stop
        button#next next